<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="DATABASE_HOST" value="localhost"/>
        <env name="DATABASE_NAME" value="sarveno"/>
        <env name="DATABASE_USERNAME" value="root"/>
        <env name="DATABASE_PASSWORD" value="Meb@6057720"/>
        <env name="APP_BASE_DIR" value="./" />
        <env name="APP_NAME" value="sarveno" />
        <env name="APP_VERSION" value="1.0.0" />
        <env name="APP_DEBUG" value="true" />
    </php>
</phpunit>
