/* shopping list */
.shopping-list {
  margin: -10px;
}

.list-item-wrapper {
  display: grid;
  grid-column-gap: 15px;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 150px;
  padding: 10px;
  overflow: hidden;

  &:hover {
    background-color: var(--item-background-darken);
  }

  .list-item {
    display: flex;
    flex-grow: 1;
    justify-content: start;
    gap: 15px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;

    div:first-child {
      border: 1px solid;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      min-width: 20px;
      position: relative;

      svg {
        display: none;
      }
    }

    &.checked {
      div:first-child svg {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        fill: var(--primary-color);
      }

      &::after {
        content: "";
        position: absolute;
        height: 0;
        width: calc(100% - 40px);
        border-bottom: 1px solid var(--text-color);
        top: 1.5em;
        right: 0;
      }
    }

    .item-name {
      font-size: 18px;
      color: #333;
    }

    &:not(:last-child):before {
      content: "";
      position: absolute;
      height: 0;
      width: 100%;
      border-bottom: 1px solid var(--item-background-darken);
      bottom: 0;
    }


  }

  .edit-form {
    grid-column: 1/-1;
    padding: 0;
    max-height: 0;
    overflow: hidden;

    &.open {
      max-height: 200px;
      transition: max-height 0.3s ease-in-out;
      padding: 10px;
    }
  }

  .list-actions {
    display: flex;
    gap: 10px;
    justify-self: end;

    .list-image {
      width: 50px;
      overflow: hidden;
      border-radius: 50%;

      img {
        object-fit: contain;
        width: 100%;
        height: auto;
        display: inline-block;
      }
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;


      &.remove-button {
        color: var(--danger-color);

        &:hover {
          color: var(--danger-color-darken);
        }
      }

      &.edit-button {
        color: var(--primary-color);

        &:hover {
          color: var(--primary-color-darken);
        }
      }
    }
  }
}
