@import "global";
@import "modal";
@import "form";
@import "shopping-list";

#register, #login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* navbar */

.navbar {
  background-color: #007bff;
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  a {
    color: var(--link-color);
    text-decoration: none;
  }

  > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}





